{% extends "base.html" %}
{% block body %}
<h1>About The Developer</h1>
<br>
<div class="row">
  <div class="col-md-3">
    <img src="/static/adameubanksprofilephoto.png" alt="adam eubanks profile photo">
  </div>
  <div class="col-md-7">
    <h3>Hello, my name is Adam Eubanks. I am a self-taught developer from Virginia. My goal is to use AI to improve humanity in any way I can.
       Currently, I run SentiMeant and <a href="http://collegecalculatorai.herokuapp.com/">CollegeCalculatorAI</a>.
       I also have a <a href="https://www.youtube.com/channel/UCP4MTfO-3ZM9uv2rHpnPiGg?view_as=subscriber">youtube channel</a> and
       <a href="https://www.udemy.com/user/adamkhanradeubanks/">udemy profile</a> where I post tutorials as well as
       updates on my projects. Please feel free to get in touch with me on my socials below.</h3>
  </div>
</div>
<br>

<a href="https://twitter.com/khanradcoder" class="fa fa-twitter fa-3x"></a>
<a href="https://www.youtube.com/channel/UCP4MTfO-3ZM9uv2rHpnPiGg" class="fa fa-youtube fa-3x"></a>
<a href="https://www.instagram.com/thekhanradcoder/" class="fa fa-instagram fa-3x"></a>
<a href="https://github.com/KhanradCoder" class="fa fa-github fa-3x"></a>
{% endblock %}
