{% extends "base.html" %}
{% block body %}
<h1>Haha lol get scammed</h1>
<h1>Results for {{ username }}</h1>
<div id="piechart"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Sentimemt', '%'],
  ['Positive', {{positive}}],
  ['Negative', {{negative}}],
  ['Neutral', {{neutral}}]
]);

  var options = {'title':'Sentiment Analysis of {{username}}', 'width':550, 'height':400};
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}
</script>
{% endblock %}
