{% extends "base.html" %}
{% block body %}
{% if message != Null %}
  <div class="alert alert-danger" role="alert">
    {{message}}
  </div>
  {% endif %}

  <h1>Perform Sentiment Analysis on Twitter Data</h1><br>
  <img src="https://miro.medium.com/max/882/1*p3Ste5R_iJzi5IcSmFkmtg.jpeg" alt="">
  <br><br><h3>It's quite simple, just input a term into the form and SentiMeant will collect ~200 recent tweets
     that contain that term and perform sentiment analysis on them.</h3><br><br>
  <h2>Get Started:</h2>
  <form action="{{ url_for('diagnostic') }}" method="post">
    Twitter Seach Term: <input class="form-control" name="search_term" type="text" placeholder="ex. 'Donald Trump'" autocomplete="off"><br>

    <script
      src="https://checkout.stripe.com/checkout.js"
      class="stripe-button"
      data-key="{{ pub_key }}"
      data-description="SentiMeant analysis charge"
      data-amount="500"
      data-locale="auto">
    </script>
  </form>
{% endblock %}
