{% extends "base.html" %}
{% block body %}

<main role="main">
  <div class="container">
    <div class="alert alert-primary" role="alert">Currently we are experiencing outages due to high traffic. Thank you for your understanding.</div>
    <h1 align='center'>Welcome To SentiMeant!</h1>
    <i><p align='center'>Get in-depth sentiment analysis of a text</p></i>
    <br>
    <h5>Current Models Available:
      <span class="badge badge-secondary">Political Bias</span>
      <span class="badge badge-secondary">Polarity</span>
      <span class="badge badge-secondary">Emotion</span>
      <span class="badge badge-secondary">Toxicity</span></h5>
    <form action="{{ url_for('results') }}" method="post">
      <!-- <label>Enter a URL <span class="badge badge-secondary">Beta</span></label> -->
      <!-- <input class="form-control form-control-lg" name="url" type="text" placeholder="ex. https://example.com/article" autocomplete="off"> -->
      <!-- <br>
      <h4 align='center'>Or</h4> -->
      <br>
      <label>Enter text:</label>
      <textarea id="textarea" class="form-control form-control-lg" maxlength="500000" rows="12" name="text" placeholder="Paste text here."></textarea>
      <br>
      <select class="form-control form-control-lg" name="model_type" required="true">
        <option disabled selected value>Select Model</option>
        <option value="political">Political Bias</option>
        <option value="polarity">Polarity</option>
        <option value="emotion">Emotion</option>
        <option value="toxicity">Toxicity</option>
      </select>
      <br>
      <button type="submit" class="btn btn-success btn-ladda-progress" data-style="expand-right">Submit</button>
    </form>
</main>
{% endblock %}
