{% extends "base.html" %}
{% block body %}
{% if message != Null %}
  <div class="alert alert-danger" role="alert">
    {{message}}
  </div>
  {% endif %}

  <h2>Submit</h2>
  <form action="{{ url_for('diagnostic') }}" method="post">
    Twitter Username: <input class="form-control" name="username" type="text" placeholder="ex. @khanradcoder" autocomplete="off"><br>

    <script
      src="https://checkout.stripe.com/checkout.js"
      class="stripe-button"
      data-key="{{ pub_key }}"
      data-description="SentiMeant analysis charge"
      data-amount="500"
      data-locale="auto">
    </script>
  </form>
{% endblock %}
